<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ipsa quibusdam modi enim esse molestiae minus. Dolores, architecto minima laboriosam totam quidem nostrum. Iste fugiat deserunt illum dolore voluptates exercitationem! 
    </p>
  </div>
</section>