<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur delectus dolorum, assumenda magni commodi rerum enim repudiandae quas similique unde laborum soluta neque temporibus corrupti officiis, ea provident perferendis ipsa.</p>
  <hr class="my-4">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, placeat impedit! Dolorum exercitationem, nesciunt necessitatibus harum corrupti provident saepe reprehenderit magnam possimus officia id voluptatum itaque fugit mollitia veritatis eveniet.
  </p>
  <a href="https://danielvera.com.mx">DavaDev</a>
</div>